%h1 Contacts

#alerts
.table-responsive
  %table.table#contacts
    %thead
      %tr
        %th
          %span.delete.glyphicon.glyphicon-trash
        %th
          %span.is-friend.glyphicon.glyphicon-heart
        %th
          %span.name.glyphicon.glyphicon-user
          User
        %th
          %span.email.glyphicon.glyphicon-envelope
          Email
        %th
          %span.phone.glyphicon.glyphicon-phone
          Phone
    - @contacts.each do |contact|
      %tr{data: {id: contact.id, friended: @friended[contact.id] ? 1 : 0}}
        %td.delete.editable-trash
          %span.glyphicon.glyphicon-trash
        %td.is-friend.editable-heart
          %span.glyphicon{class: @friended[contact.id] ? 'glyphicon-heart' : 'glyphicon-heart-empty'}
        %td.name.editable-text= contact.name
        %td.email.editable-text= contact.email
        %td.phone.editable-text= contact.phone
