%h1 Contacts

.table-responsive
  %table.table#contacts
    %thead
      %tr
        %th
          %span.glyphicon.glyphicon-heart
        %th
          %span.glyphicon.glyphicon-user
          User
        %th
          %span.glyphicon.glyphicon-envelope
          Email
        %th
          %span.glyphicon.glyphicon-phone
          Phone
    - @contacts.each do |contact|
      %tr{data: {id: contact.id}}
        %td.is-friend.editable-toggle
          %span.glyphicon.glyphicon-heart-empty{data: {friended: true}}
        %td.name.editable-text= contact.name
        %td.email.editable-text= contact.email
        %td.phone.editable-text= contact.phone
