%h1 Contacts

#alerts
.table-responsive
  %table.table#contacts
    %thead
      %tr
        %th.add-delete
        %th.is-friend
          %span.glyphicon.glyphicon-heart
        %th.name
          %span.glyphicon.glyphicon-user
          User
        %th.email
          %span.glyphicon.glyphicon-envelope
          Email
        %th.phone
          %span.glyphicon.glyphicon-phone
          Phone
    %tbody
      %tr.new-contact{data: {friended: 0}}
        %td.add-delete.new-plus
          %span.glyphicon.glyphicon-plus
        %td.is-friend.new-heart
          %span.glyphicon.glyphicon-heart-empty
        %td.name.new-text
          %input{type: 'text'}
        %td.email.new-text
          %input{type: 'text'}
        %td.phone.new-text
          %input{type: 'text'}
      - @contacts.each do |contact|
        %tr.existing-contact{data: {id: contact.id, friended: @friended[contact.id] ? 1 : 0}}
          %td.add-delete.editable-trash
            %span.glyphicon.glyphicon-trash
          %td.is-friend.editable-heart
            %span.glyphicon{class: @friended[contact.id] ? 'glyphicon-heart' : 'glyphicon-heart-empty'}
          %td.name.editable-text= contact.name
          %td.email.editable-text= contact.email
          %td.phone.editable-text= contact.phone
