// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#contacts > tbody > tr,
table#contacts > thead > tr {
  & > td, & > th {
    vertical-align: middle;

    &.add-delete {
      width: 20px;
      text-align: center;
    }
    &.is-friend {
      width: 20px;
      text-align: center;
    }
    &.name {
      width: 30%;
    }
    &.email {
      width: 30%;
    }
    &.phone {
      width: 30%;
    }
  }
  &.existing-contact {
    & > input {
      display: inline-block;
      padding: 0;
      margin: 0;
      border: 0;
      width: 100%;
      border-radius: 0;
      line-height: 1;
    }
  }
}
